

h2 {
    display:none;
}

#Basketball-heading {
	width: 100%;
	text-align: left;
	color:black;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

aside {
    background: black;
	font-size: 120%;
	padding: 5px 0;
	text-align: center;
	width: 100%;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


aside a {
	color: white;
	display: block;
	padding: 5px 0;
	text-decoration: none;
	width: 100%;
}


aside a:hover {
	background-color: orange;
	color: white;
}



aside a:focus {
  background-color:black;
  color: #E3DFDE;
  outline: none;
}


article {
	background-color:orange;
	color: black;
	font-size: 120%;
	padding: 10px 10px;
}

article a {
	color: black;
	padding: 5px;
	text-decoration: none;
}


article a:hover {
  background-color: #E3DFDE;
  color: black;
}



article a:focus {
  background-color: white;
  color: black;
  outline: none;
}

#hero_image {
	width: 100%;
}

.boldit{
	font-weight: bold;
}



@media only screen and (min-width: 768px) {

	main {
		display: flex;
	}

	aside {
		align-items: center;
		display: flex;
		flex-direction: column;
		float: left;
		justify-content: center;
		width: 30%;
	}

	section {
		display: inline;
		float: right;
		width: 70%;
	}

}